<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
   <div id="root">
        <h2>人员信息</h2>
        <input type="text" v-model="keyWord">
        <button @click="sortType = 2">年龄升序</button>
        <button @click="sortType = 1">年龄降序</button>
        <button @click="sortType = 0">原顺序</button>
        <ul>
            <li v-for="(p,index) of filArr" ::key="p.id">{{p.name}} - {{p.age}} - {{p.gender}}</li>
        </ul>
   </div>  
   <script>
    // watch实现
    /* new Vue({
        el:"#root",
        data:{
            keyWord:'',
            personArr:[
                {id:"1",name:"扁嘴伦",age:30,gender:"男"},
                {id:"2",name:"周杰伦",age:31,gender:"男"},
                {id:"3",name:"周冬雨",age:25,gender:"女"},
                {id:"4",name:"马冬梅",age:38,gender:"女"},
            ],
            filArr:[]
        },
        watch: {
            keyWord:{
                immediate:true,
                handler(val){
                    this.filArr = this.personArr.filter((p) => {
                        return p.name.indexOf(val) !==-1
                    })
                }
            }
        },
    }) */
    // 计算属性实现
    new Vue({
        el:"#root",
        data:{
            keyWord:'',
            sortType:0, //0原顺序 1降序 2升序
            personArr:[
                {id:"1",name:"扁嘴伦",age:30,gender:"男"},
                {id:"2",name:"周杰伦",age:31,gender:"男"},
                {id:"3",name:"周冬雨",age:25,gender:"女"},
                {id:"4",name:"马冬梅",age:38,gender:"女"},
            ]
        },
        computed:{
            filArr(){
                const arr = this.personArr.filter((p) => {
                    return p.name.indexOf(this.keyWord) !== -1
                })
                if(this.sortType){
                    arr.sort((p1,p2) => {
                        return this.sortType ===1 ? p2.age-p1.age : p1.age-p2.age
                    })
                }
                return arr
            }
        }
    })
   </script>
</body>
</html>